{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<style>

    #item-container{

        font-size: 12px;
    }

    #prompt {
        font-size: 30px;
        font-weight: 700
        ;
    }

    .row > div > a, div {
        display: block;
    }

    .item {

        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
    }

    a {
        color: black;
    }

    .title {
        font-weight: 700;
    }

    .author {
        font-size: 10px;
    }

</style>

<p id="prompt">
    Most popular interview books this week: 
</p>

<div id="item-container" class="row">

    
</div>

{% endblock %}
