{% extends "layout.html" %}

{% block content %}


    <script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
    
    <script>


        let sales = {{ sales|tojson }}
        let clients = {{ clients|tojson }}
        $(document).ready(function(){

            console.log(sales)
            console.log(clients)

            reg()

            make()

            console.log('finished')
                    
        })
        
    </script>
    <div id="title">
        Columbia Paper Infinity
    </div>

    <div>
        <div class="row">
            <form class="col-md-8 form-submit" action="#">

                <div class="row">
                    <div class="col-md-3">
                        <label>Log your paper sales: </label> 
                    </div>
                    <div id="input-client-div" class="col-md-6">
                        <input type="text" id="input-client" class="input" placeholder="client" name="client">
                    </div>
                    <div id="input-reams-div" class="col-md-3">
                        <input type="text" id="input-reams" class="input" placeholder="#reams" name="reams">
                    </div>
                </div>                     
                
            </form>
            <div class="col-md-1">
                <button class="btn btn-primary btn-submit">Submit</button>
            </div>

        </div>
    </div>

    <div id="entry-box">

    </div>

{% endblock %}

